{% if links %}
    <div class="panel panel-default" style="margin-left: 40px;">
        <div class="panel-body">
            <h3 class="sidebar-header" style="margin-top: 33px;margin-left: 15px;font-size: 18px;">
                友情链接</h3>
            <ul class="list-group list-group-flush">
                {% for link in links %}
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="font-size: 15px;">
                        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if categories %}
    <div class="panel panel-default" style="margin-left: 40px;">
        <div class="panel-body">
            <h3 class="sidebar-header" style="margin-top: 33px;margin-left: 15px;font-size: 18px;">分类</h3>
            <ul class="list-group list-group-flush">
                {% for category in categories %}
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="font-size: 15px;">
                        <a href="{{ url_for('blog.show_category',category_id=category.id) }}">
                            {{ category.name }}
                        </a>
                        <span class="badge badge-primary badge-pill">{{ category.posts|length }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}