{% extends 'thirdtemp/index.html' %}

{% block title %}
    关于
{% endblock %}

{% block cover %}
    <!-- Page Cover -->
    <header class="masthead" style="background-image: url({{ url_for('static',filename='thirdtemp/img/shoes.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>关于</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock cover %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
            {{ admin.about|safe }}
        </div>
        <div class="col-lg-3 col-md-2 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock content %}