{% extends 'thirdtemp/index.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block cover %}
    <!-- Page Cover -->
    <header class="masthead" style="background-image: url({{ url_for('static',filename='thirdtemp/img/dj1.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ category.name }}</h1>
                        <span class="subheading">{{ category.posts|length }}条文章</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock cover %}


{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% include "blog/_posts.html" %}
        </div>
        <div class="col-lg-4 col-md-2 mx-auto sidebar">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock content %}