{% extends 'adminIndex.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
    评论管理
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>评论:
            <small class="text-muted">{{ pagination.total }}</small>
            条
        </h1>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#" class="nav-link disabled">分组</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('admin.manage_comment',filter='all') }}"
                   class="nav-link {% if request.args.get('filter','all')=='all' %}active{% endif %}">全部评论</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('admin.manage_comment',filter='unread') }}"
                   class="nav-link {% if request.args.get('filter')=='unread' %}active{% endif %}">未处理评论
                    {% if unread_comments %}<span class="badge badge-success">{{ unread_comments }}</span>{% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('admin.manage_comment',filter='admin') }}"
                   class="nav-link {% if request.args.get('filter')=='admin' %}active{% endif %}">我自己的评论</a>
            </li>
        </ul>
    </div>
    {% if comments %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>排序</th>
                <th>评论人</th>
                <th>内容</th>
                <th>日期</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for comment in comments %}
                <tr {% if not comment.reviewed %}class="table-warning"{% endif %}>
                    <td>{{ loop.index+((pagination.page-1)*config['COMMENT_PER_PAGE']) }}</td>
                    <td>
                        {% if comment.from_admin %}{{ admin.name }}{% else %}{{ comment.author }}{% endif %}<br>
                        <a href="mailto:{{ comment.email }}">{{ comment.email }}</a>
                        {% if comment.from_admin %}
                            <span class="badge badge-primary">管理员</span>
                        {% endif %}
                    </td>
                    <td>{{ comment.body }}</td>
                    <td>{{ moment(comment.timestamp).format('LL') }}</td>
                    <td>
                        {% if not comment.reviewed %}
                            <form class="inline" method="post"
                                  action="{{ url_for('.approve_comment', comment_id=comment.id, next=request.full_path) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-success btn-sm">审核评论</button>
                            </form>
                        {% endif %}
                        <a class="btn btn-info btn-sm" href="{{ url_for('blog.show_post', post_id=comment.post.id) }}">查看所属文章</a>
                        <form class="inline" method="post"
                              action="{{ url_for('.delete_comment', comment_id=comment.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('你确定要删除这条评论吗?');">删除评论
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>没有评论</h5></div>
    {% endif %}
{% endblock %}