{% extends 'adminIndex.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Categories{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>分类：
            <small class="text-muted">{{ categories|length }}</small>
            个
            <span class="float-right"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('.new_category') }}">新分类</a></span>
        </h1>
    </div>
    {% if categories %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>排序</th>
                <th>分类名</th>
                <th>所属博客数量</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for category in categories %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('blog.show_category', category_id=category.id) }}">{{ category.name }}</a>
                    </td>
                    <td>{{ category.posts|length }}</td>
                    <td>
                        {% if category.id != 1 %}
                            <a class="btn btn-info btn-sm"
                               href="{{ url_for('.edit_category', category_id=category.id) }}">修改分类信息</a>

                            <form class="inline" method="post"
                                  action="{{ url_for('.delete_category', category_id=category.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('你确定要删除该分类吗?');">删除分类
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="text-muted">删除一个分类不会删除其下所有的文章，文章会自动归类到默认分类。</p>
    {% else %}
        <div class="tip"><h5>没有分类</h5></div>
    {% endif %}
{% endblock %}
