<!DOCTYPE html>
<html lang="en">

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock title %} - {{ admin.blog_title|default("Marc's blog") }}</title>
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static',filename='thirdtemp/vendor/bootstrap/css/bootstrap.min.css') }}"
              rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ url_for('static',filename='thirdtemp/vendor/fontawesome-free/css/all.min.css') }}"
              rel="stylesheet"
              type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static',filename='thirdtemp/css/clean-blog.min.css') }}" rel="stylesheet">

    </head>
{% endblock head %}

<body>


{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('blog.index') }}">
                <img src="{{ url_for('static', filename='thirdtemp/img/2.jpg') }}" width="50" height="50"
                     class="d-inline-block" alt="" style="margin-right: 10px">
                <span class="heading">Markxvii</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                菜单
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('blog.index') }}>主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('blog.about') }}>关于</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                创建 <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="{{ url_for('admin.new_post') }}" class="dropdown-item">新的博客文章</a>
                                <a href="{{ url_for('admin.new_category') }}" class="dropdown-item">新的分类</a>
                                <a href="{{ url_for('admin.new_link') }}" class="dropdown-item">新的友情链接</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                管理 <span class="caret"></span>
                                {% if unread_comments %}
                                    <span class="badge badge-success">new</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="{{ url_for('admin.manage_post') }}" class="dropdown-item">博客</a>
                                <a href="{{ url_for('admin.manage_category') }}" class="dropdown-item">分类</a>
                                <a href="{{ url_for('admin.manage_comment') }}" class="dropdown-item">评论
                                    {% if unread_comments %}
                                        <span class="badge badge-success">{{ unread_comments }}</span>
                                    {% endif %}
                                </a>
                                <a href="{{ url_for('admin.manage_link') }}" class="dropdown-item">友情链接</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ url_for('admin.settings') }}>设置</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ url_for('auth.logout') }}>登出</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}


{% block cover %}

{% endblock cover %}


<!-- Main Content -->
<div class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}


    {% block content %}
    {% endblock content %}


</div>

<hr>

{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/markxvii" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Designed by Marc Yin, all rights reserved. -
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout',next=request.full_path) }}">Logout</a>
                        {% else %}
                            <a href="{{ url_for('auth.login',next=request.full_path) }}">Login</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}


{% block scripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='thirdtemp/vendor/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='thirdtemp/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static',filename='thirdtemp/js/clean-blog.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{% endblock scripts %}


</body>
</html>
